.imgbutton {
    width: 77px;
    float: left;
    height: 95px;
    text-align: center;
    color: transparent;
    text-shadow: none;
}

.imgbutton:hover {
    color: black;
}

.imgbutton img {
    width: 80px;
    height: 70px;
}

.imgbutton img:hover {
    opacity: 0.6;
}


